@model TimeZoneData

<form method="post" asp-page="/Settings">
    <div class="form-group">
        <select class="nav-link dropdown-toggle" asp-for="Selected"  asp-items="Model.Items" onchange="LayoutTimeZoneSubmit()"></select>
    </div>
    <div class="form-group">
        <input hidden type="submit" id="LayoutTimeZoneSubmitButton" value="Set" class="btn btn-primary"/>
    </div>
</form>



 
