@page
@model C19QuarantineWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<hr/>

<h5>Introduction</h5>

<p>The source code of this website is available from the public GitHub project <a href="https://github.com/wpqs/C19Quarantine" target="_blank">C19Quarantine</a> subject 
    to a standard <a href="https://github.com/wpqs/C19Quarantine/blob/master/LICENSE" target="_blank">MIT licence</a>.</p>
<br/>

<h5>Team</h5>
<ul>
    <li>Will Stott - Developer, GitHub Owner</li>
</ul>
<br/>

<h5>Construction & Hosting</h5>

<p>The website is a simple ASP.NET Core 3.1 Web Application. It was developed in C# using v16.5.3 of the free Community version of <a href="https://visualstudio.microsoft.com/downloads/" target="_blank">Microsoft Visual Studio</a>.
    It is hosted in WestEurope on the <a href="https://portal.azure.com">Microsoft Azure</a> platform.</p>
<br/>

<h5>Links</h5>

<ul>
    <li><a href="https://helpwithcovid.com/projects/527-when-can-i-stop-self-quarantine" target="_blank">HelpWithCovid.com - Project 527: When Can I Stop Self-Isolation?</a></li>
    <li><a href="https://github.com/wpqs/C19Quarantine" target="_blank">GitHub - project C19Quarantine</a></li>
</ul>


