@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="background-color: red; color: white">WARNING: This website has not been validated and is not currently suitable for calculating your quarantine period for Covid-19.</p>
    
    <h3>About</h3>
    <p>This website aims to calculate your quarantine period for Covid-19. It will ask you a series of questions and then calculate the number of days that you should remain in quarantine. </p>
    <button>Start</button>
    
    <p>Result = @Model.DaysInQuarantine</p>
    <hr/>
    <h3>Useful links</h3>
    <ul>
        <li><a href="https://www.gov.uk/coronavirus" target="_blank">https://www.gov.uk/coronavirus</a></li>
    </ul>
</div>
