@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div align="left">
      @*  <p style="background-color: red; color: white" align="center">WARNING: This website has not been validated and is not currently suitable for calculating your self-isolation period for Covid-19.</p> *@

        <p style="background-color: red; color: white" align="center">This website does NOT give any medical advice. It just calculates the isolation periods for Covid-19 in the UK
          as recommended by <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/" target="_blank">NHS Guidelines</a></p>
        <p>The NHS recommends that you should enter self-isolation if you or any members of your household have one or more of the following symptoms:</p>
        <ul>
              <li><b>high temperature</b></li>
              <li><b>new, continuous cough</b></li>
              <li><b>loss or change to your sense of smell or taste</b>.</li>
        </ul>
      
      <p>You also need to enter self-isolation if you or any members of your household are a) waiting for a Covid-19 test result, or b) you have been told to do so by the NHS Trace and Track Service - they will give
          <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing-and-tracing/nhs-test-and-trace-if-youve-been-in-contact-with-a-person-who-has-coronavirus/" target="_blank">additional advice about self-isolation</a> for you and your household.</p>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="StartIsolation" class="col-form-label">When did you start self-isolation? (see note 1)</label>
                        <input class="form-control" asp-for="StartIsolation"/>
                        <span asp-validation-for="StartIsolation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartSymptoms" class="col-form-label">When did your symptoms first start? (see note 2)</label>
                        <input class="form-control" asp-for="StartSymptoms" value="@Model.StartSymptoms"/>
                        <span asp-validation-for="StartSymptoms" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HasSymptoms" class="col-form-label">Do you still have symptoms? (see note 3)</label>
                        <input class="form-control" asp-for="HasSymptoms" value="@Model.HasSymptoms"/>
                        <span asp-validation-for="HasSymptoms" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Calculate" class="btn btn-primary"/>
                    </div>
                    <span asp-validation-for="ProgramError" class="text-danger"></span>
                </form>
            </div>
        </div>
        @if (Model.ShowRange)
        {
             <p><input disabled type="range" max=@Model.IsolationDaysMax min=0 value=@Model.IsolationDaysRemaining></p>
        }
        <p><b><span style="color: @Model.TextColor">@Model.Result</span></b></p>

        <h5>Notes:</h5>
            <ol>
                <li>Enter into <b>start self-isolation</b> the date and time in UK 12 hour format like 17-01-20 5:30 PM. This may be when your symptoms first started, 
                  or it may be when the first person in your household developed symptoms, or the date you were last in contact with someone who has tested positive for Covid-19.</li>
                <li>Enter into <b>symptoms first start</b> the date and time in UK 12 hour format like 17-01-20 5:30 PM. Leave it empty if you have not had any symptoms since 
                  starting self-isolation.</li>
                <li>Enter into <b>still have symptoms</b> the word 'yes' or 'no' depending upon whether you still have any of the following symptoms: a) <i>runny nose</i>, b) <i>feeling sick</i>, c) <i>diarrhoea</i>, d) 
                  <i>high temperature</i>. You should be aware that other symptoms like a <i>cough</i> or <i>changes to your sense of taste or smell</i> may still persist after the NHS considers it is safe to <i>end self-isolation</i>.
                  Therefore enter 'yes' only if you still have any of the symptoms a,b,c,d as specified above.</li>
            </ol>
        <hr/>

        <h5>Useful links</h5>
        <ul>
            <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/" target="_blank">UK NHS Coronavirus-covid-19 - self-isolation-advice</a></li>
            <li><a href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance/stay-at-home-guidance-for-households-with-possible-coronavirus-covid-19-infection" target="_blank">UK Govn Stay at Home Guideance for Households with possible Coronavirus-covid-19 infection</a></li>
            <li><a href="https://www.nhs.uk/common-health-questions/accidents-first-aid-and-treatments/how-do-i-take-someones-temperature/" target="_blank">UK NHS First Aid Advice - How do I take someone's temperature?</a></li>
        </ul>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}

