@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website does not keep records about the people who use it. Only cookies that are essential to the operation of the website are used.</p>
