@page
@model C19QuarantineWebApp.Pages.TermsConditionsModel
@{
    ViewData["Title"] = "Terms & Conditions";
}

<h1>Terms & Conditions</h1>
<br/>
<h5>Ownership</h5>
The website www.c19isolate.org is owned and operated by ImageQC Limited (the company). ImageQC Ltd. is a private limited Company registered in England (reg no. 09483781).
Director: William Stott. Registered Office: 71-75 Shelton Street, London, England, WC2H 9JQ. Email: <a href="mailto:will.stott@imageqc.com">will.stott@imageqc.com</a> 
<br/>
<br/>
<h5>Use</h5>
People who access the website (users) agree to the terms of its Disclaimer of Liability and Privacy Statement as well as agreeing to respect the copyright and reproduction notices. 
Furthermore, they agree to use the website always for its lawful and intended purpose. The company reserves the right to change these Terms and Conditions at any time. 
The validity, construction and performance of these Terms shall be governed by English law and you hereby submit to the exclusive jurisdiction of the English courts.
<br/>
<br/>
<h5>Copyright</h5>
The company is the owner of the copyright except as otherwise stated. No part of the website may be distributed, published, re-utilised, extracted, or reproduced
in any material form except as permitted by the UK Copyright Designs and Patents Act 1988 and as required by the personal licence that is hereby granted 
to you by the company for you view the site for your own personal use.
<br/>
<br/>
<h5>Disclaimer of Liability</h5>
The company and its Executives assume no responsibility for the content of the website or any website to which it provides links and to the extent permitted by 
law disclaim all liability in respect of such content. Nothing in the website constitutes professional advice. The company has taken care in the preparation of 
this website, but make no expressed or implied warranty of any kind and assume no responsibility for errors or omissions.
<br/>
<br/>
<h5>Privacy Statement</h5>
<p>This website does not keep records about the people who use it. Only cookies that are essential to the operation of the website are used.</p>

